apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: cluster-with-karpenter
  region: us-east-1
  version: '1.31'
  tags:
    karpenter.sh/discovery: cluster-with-karpenter

vpc:
  cidr: 10.42.0.0/20
  nat:
    gateway: Single

availabilityZones:
- us-east-1a
- us-east-1c

iam:
  withOIDC: true

accessConfig:
  authenticationMode: API_AND_CONFIG_MAP

addonsConfig:
  autoApplyPodIdentityAssociations: true

addons:
- name: eks-pod-identity-agent
- name: vpc-cni
  configurationValues: >-
    {
      "env": {
        "ENABLE_PREFIX_DELEGATION":"true",
        "ENABLE_POD_ENI":"true",
        "POD_SECURITY_GROUP_ENFORCING_MODE":"standard"
      },
      "enableNetworkPolicy": "true",
      "nodeAgent": {
        "enablePolicyEventLogs": "true"
      }
    }
  resolveConflicts: overwrite
  version: latest

karpenter:
  version: '1.0.6'
  createServiceAccount: true
  withSpotInterruptionQueue: true

managedNodeGroups:
  - name: critical-addons-only
    amiFamily: AmazonLinux2023
    ssh:
      enableSsm: true
    spot: true
    minSize: 2
    maxSize: 3
    desiredCapacity: 2
    instanceSelector:
      vCPUs: 2
      memory: 4GiB
      cpuArchitecture: arm64
    taints:
      - key: CriticalAddonsOnly
        value: "true"
        effect: NoSchedule
